# Base URLs must include a protocol. A trailing slash is optional.
NEXT_PUBLIC_SERVER_URL=https://enatega-multivendor-api-production-9b09.up.railway.app/
NEXT_PUBLIC_WS_SERVER_URL=wss://enatega-multivendor-api-production-9b09.up.railway.app/
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
