REACT_APP_GOOGLE_API_KEY = [Add your Google map key see documentation for more information][example: BIzaSyCzNP5qQql2a5y8lOoO-1yj1lj_tzjVImA]
REACT_APP_FIREBASE_KEY = [Add your Firebase api key][example: BIzaSyCHrV6bF7YPbDjmU5bSd7umSuJen71uUgI]
REACT_APP_APP_ID = [Add your React App ID][example: 1:750001300965:web:68c10de22ea273b76bc30c]
REACT_APP_DB_URL = [Add your Firebase App Db Url][example: https://enatega-example.firebaseio.com]
REACT_APP_AUTH_DOMAIN = [Add your Firebase App Auth domain][example: enatega-example.firebaseapp.com]
REACT_APP_STORAGE_BUCKET = [Add your Firebase storage][example: enatega-example.appspot.com]
REACT_APP_MSG_SENDER_ID = [Add your Firebase message sender id][example: 640001300965]
REACT_APP_MEASUREMENT_ID = [Add your measurement id][example: G-P229R9TNPS]
REACT_APP_PROJECT_ID = [Add your project id of Firebase][example: enatega-example]
REACT_APP_SERVER_URL = [Add your IP/server url][example: http://192.168.0.107:8001]
REACT_APP_WS_SERVER_URL = [Append with ws:// if in development otherwise wss:// followed by your ip and port number][example: ws://192.168.100.117:8001/]
REACT_APP_PUBLIC_VAPID_KEY = [Add Firebase Vapid key][example: AEDusPsr1yF4xvpIXtEm9_YpsHIQYs_HVnpy0O9DzbUCotZzqwML83aKXSBk6yeswFDKcth_E5ouQCs5d4ciYKY]
REACT_APP_STRIPE_PUBLIC_KEY = [Add your Stripe public key see documentation for more information][example: pk_test_wEaBbVGnTkzja2FyFiNlbqtw]
REACT_APP_PAYPAL_KEY=[Add your PayPal public key see docoumenation for more information][example: "BeGIgSX--JEVwoQgLjGOb8gh1DUJG0MFVgLc2mBIe6_V5NefV0LM3L78m01fLLI6U2FFB-qJr4ErrtL1"]
REACT_APP_AMPLITUDE_API_KEY = [Add your Amplitude api key see documentation for more information][example: 3114f5db4c014dc7ad4ed2ad747341b5]
REACT_APP_GOOGLE_MAP_LIBRARIES=places,drawing,geometry,localContext,visualization
REACT_APP_SENTRY_DSN=[Add your own Sentry DSN link][example: https://e963731ba0f84e5d823a2bbe2968ea4d@o1103026.ingest.sentry.io/5135261]
REACT_APP_CLOUDINARY_UPLOAD_URL = [Add your own cloudinary upload url][example: https://api.cloudinary.com/v1_1/bo1ia4vzf/image/upload]
REACT_APP_CLOUDINARY_FOOD = [Add your own cloudinary folder id][example: sscncotw]
REACT_APP_FIREBASE_VAPID_KEY=[Add your own VAPID Firebase key][example: CJhEPGTFlkP_iIOlscRX036TS4reCJsIL9HS3na9UhHuUoxvU45MIdkqjzn_3k7sEwLXAv1TU8SQR1heJyVPq8M]
REACT_APP_ENV = [Add your own environment name][example: "dev" | "staging" | "prod"]