REACT_APP_SERVER_URL = [Enter  your server url:Enter your port number followed by any port number][example: http://192.168.100.117:8001/]
REACT_APP_WS_SERVER_URL = [Append with ws:// if in development otherwise wss:// followed by your ip and port number][example: ws://192.168.100.117:8001/]
REACT_APP_GOOGLE_CLIENT_ID = [Add your Google client id see documentation for more information on how to generate it][example: 967541328677-ge2hpr1n095d0nro56kot0t4q388dsll.apps.googleusercontent.com]
REACT_APP_STRIPE_PUBLIC_KEY = [Add your Stripe public key see documentation for more information][example: pk_test_wEaBbVGnTkzja2FyFiNlbqtw]
REACT_APP_PAYPAL_KEY=[Add your PayPal public key see docoumenation for more information][example: "BeGIgSX--JEVwoQgLjGOb8gh1DUJG0MFVgLc2mBIe6_V5NefV0LM3L78m01fLLI6U2FFB-qJr4ErrtL1"]
REACT_APP_GOOGLE_MAPS_KEY = [Add your Google map key see documentation for more information][example: BIzaSyCzNP5qQql2a5y8lOoO-1yj1lj_tzjVImA]
REACT_APP_AMPLITUDE_API_KEY = [Add your Amplitude api key see documentation for more information][example: 3114f5db4c014dc7ad4ed2ad747341b5]
REACT_APP_GOOGLE_MAP_LIBRARIES=places,drawing,geometry,localContext,visualization
REACT_APP_SENTRY_DSN=[Add your own Sentry DSN link][example: https://e963731ba0f84e5d823a2bbe2968ea4d@o1103026.ingest.sentry.io/5135261]
REACT_APP_GOOGLE_COLOR= #dd4b39

REACT_APP_ENV = [Add your own environment name][example: "dev" | "staging" | "prod"]